<%= render 'shared/errors', obj: @student %>

<div class="container" style="margin-bottom: 100px;">
  <div class="row-center" style="margin-top: 100px;">
    <div class="col s12 m12 l12">
      <div class="card-panel">
        <h3 class="center-align"><%= @student.new_record? ? "Criar Conta" : "Editar Perfil" %></h3>
        <div class="row">
          <%= form_for(@student, html: {class: "col s12"}) do |form| %>
            <div class="row">
              <div class="input-field col s12">
                <%= form.text_field :name, placeholder: 'Insira seu nome aqui', autofocus: true %>
                <%= form.label :name, 'Nome', class: "active" %>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <%= form.email_field :email, placeholder: 'Insira seu e-mail aqui' %>
                <%= form.label :email, 'E-mail', class: "active" %>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <%= form.password_field :password, placeholder: 'Insira sua senha aqui' %>
                <%= form.label :password, 'Senha', class: "active" %>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <%= form.password_field :password_confirmation, placeholder: 'Confirme sua senha aqui' %>
                <%= form.label :password_confirmation, 'Confirmar Senha', class: "active" %>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <%= form.button(@student.new_record? ? '<i class="material-icons right">arrow_forward</i>Inscrever-se'.html_safe : '<i class="material-icons right">arrow_forward</i>Atualizar Informações'.html_safe, class: "btn orange waves-effect waves-light right") %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
